.welcome {
  height: 100%;
  :global(.ant-row) {
    height: 100%;
  }
  :global(.ant-card-body) {
    padding: 15px;
  }
  :global(.ant-card) {
    margin-bottom: 10px;
    border-radius: 10px;
  }
  :global(.ant-statistic-title) {
    color: #000;
    font-size: 16px;
  }
  .title {
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
  }
  .col {
    height: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  .titleRight {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
  }
  .boxHeight {
    max-height: 240px;
  }
  .boxHeightRight {
    max-height: 730px;
    overflow: auto;
    .list {
      margin-bottom: 30px;
      font-size: 16px;
      p {
        max-width: 523px;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
  .echartsBox {
    margin-top: 50px;
    .chartBox {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .totalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    background: rgba(7, 29, 51, 0.03);
    border-radius: 5px;
    > div {
      padding: 20px 0;
    }
  }
  .bold {
    font-weight: bold;
  }
  .salesBox {
    width: 180px;
    max-width: 200px;
  }
}
